#sign {
  color: white;
  border-radius: 30px;
  /* border: 2px solid #ffa567; */
  margin: 5rem auto;
  width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 3rem;
  /* background-color: rgba(0, 0, 0, 0.8); */
  background-color: rgba(255, 255, 255, 0.2);
}

#sign h1 {
  font-size: 1.8rem;
  margin-top: 3rem;
  margin-bottom: 0;
}

#sign label {
  display: block;
  margin: 1.5rem 0 0.2rem 0;
  font-size: 1.2rem;
}

#sign input {
  display: block;
  width: 50%;
  height: 22px;
  padding: 6px;
  padding-left: 16px;
  font-size: 1.25rem;
  background-image: linear-gradient(to right, #ffa567, #ed2979 20%, #ed2979 80%, #ffa567);
  color: white;
  border: 0px;
  border-radius: 22px;
}

#sign input:hover, #sign input:focus{
  background-image: linear-gradient(to right, #ed2979, #ed2979);
  color: white;
}

#sign button {
  display: block;
  padding: 6px 20px;
  border-radius: 22px;
  background: linear-gradient(to right, #ed2979, #ed2979);
  color: white;
  border: 2px solid white;
  font-size: 1.2rem;
  font-weight: 500;
  margin-top: 2.5rem;
  cursor: pointer;
}

#sign p {
  padding: 6px;
  margin: 1rem 0 1rem 0;
  cursor: pointer;
}
