nav  {
  display: flex;
  justify-content:flex-end;
}

nav p {
  color: white;
  font-size: 1rem;
  margin: 0px;
  padding: 1.5rem;
}

nav p:hover {
  color: grey;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  nav  {
    justify-content:center;
  }

}
