.area {
  display: flex;
  justify-content: center;
}

.container {
  position: absolute;
}

#faceImage {
  width: 500 px;
  height: auto;
  margin-top: 1rem;
}

.boundingBox {
  position: absolute;
  box-shadow: 0 0 0 3px blue inset;
  display: flex;
  justify-content: center;
  cursor: pinoter;

}
